.venv
views
lead_me.db
../instance/lead_me.db
./guide-orientation-2022-2023_final_1.pdf.pdf

*.pyc
__pycache__/

instance/
./static/uploads
.pytest_cache/
.coverage
htmlcov/
../.databases
../instance
dist/
build/
*.egg-info/

