{% extends 'layouts/base.html' %}
{% block title %} Reset Password {% endblock %}
    
{% block content %}
<div class="auth-page-wrapper pt-5">
    <!-- auth page bg -->
    <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
        <div class="bg-overlay"></div>

        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440 120">
                <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
            </svg>
        </div>
    </div>

    <!-- auth page content -->
    <div class="auth-page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mt-sm-5 mb-4 text-white-50">
                        <div>
                            
                        </div>
                    
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4">

                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <h5 class="text-primary">Reset Your Password</h5>
                                <!-- <p class="text-muted">Give us your email</p> -->
                            </div>
                            <div class="p-2 mt-4">
                                <form method="POST" action="{{ url_for('auth.reset_password', email=email) }}">
                                    {{ form.hidden_tag() }}
                                    <input type="hidden" name="email" value="{{ email }}">
            
                                    <div class="mb-3">
                                        <label class="form-label" for="password-input">New Password</label>
                                        <div class="position-relative auth-pass-inputgroup">
                                            {{ form.new_password(class="form-control pe-5 new-password-input password-field", onpaste="return false", placeholder="Enter password", id="password-input", pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}") }}
                                            
                                
                                        <div id="password-contain" class="p-3 bg-light mb-2 rounded">
                                            <h5 class="fs-13">Password must contain:</h5>
                                            <p id="pass-length" class="invalid fs-12 mb-2">Minimum <b>8 characters</b></p>
                                            <p id="pass-lower" class="invalid fs-12 mb-2">At <b>lowercase</b> letter (a-z)</p>
                                            <p id="pass-upper" class="invalid fs-12 mb-2">At least <b>uppercase</b> letter (A-Z)</p>
                                            <p id="pass-number" class="invalid fs-12 mb-0">A least <b>number</b> (0-9)</p>
                                        </div>
                                        {% if form.new_password.errors %}
                                            <div class="alert alert-danger">
                                                {% for error in form.new_password.errors %}
                                                    <p>{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                    
                                    <div class="mb-3 mt-3">
                                        <label class="form-label" for="confirm-password-input">Confirm Password</label>
                                        <div class="position-relative auth-pass-inputgroup mb-3">
                                            {{ form.confirm_password(class="form-control pe-5 confirm-password-input password-field", onpaste="return false", placeholder="Confirm password", id="confirm-password-input") }}
                               
                                        </div>
            
                                    </div>
                                
                                    <button class="btn btn-link text-decoration-none text-muted border" type="button" id="show_password" onclick="togglePasswordVisibility()">
                                        <i class="ri-eye-fill align-middle"></i>
                                        Show all password
                                    </button>
                                    <div class="mt-4">
                                        {{ form.submit(class="btn btn-success w-100") }}
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth page content -->

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="mb-0 text-muted">&copy;
                            <script>document.write(new Date().getFullYear())</script> Velzon. Crafted with <i class="mdi mdi-heart text-danger"></i> by LEADME Team
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->
</div>
<script>
function togglePasswordVisibility() {
    const passwordFields = document.querySelectorAll('.password-field');  // Select all password fields
    const passwordButton = document.getElementById('show_password');  // Select the button to change the icon

    // Loop through each password field and toggle the type
    passwordFields.forEach(function(passwordField) {
        if (passwordField.type === 'password') {
            passwordField.type = 'text';  // Change type to text to show password
        } else {
            passwordField.type = 'password';  // Change type back to password to hide password
        }
    });

    // Toggle the button icon based on the password visibility
    if (passwordFields[0].type === 'password') {
        passwordButton.innerHTML = '<i class="ri-eye-fill align-middle"></i> Show all password';  // Icon for hidden password
    } else {
        passwordButton.innerHTML = '<i class="ri-eye-off-fill align-middle"></i> Hide all password';  // Icon for visible password
    }
}
</script>


{% endblock %}
