{% extends 'layouts/front_nav.html' %} {% block title %}Blog{% endblock %}
{%block contenu %}

    <!-- start blog -->
     <div style="height: 75px;""></div>
    <section class="section" id="blog">
        <div class="container"> 
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center mb-5">
                        <h1 class="mb-3 ff-secondary fw-bold text-capitalize lh-base">Découvrez toutes les offres de <span class="text-primary">Bourses</span></h1>
                        <p class="text-muted mb-4">Lead Me n'est pas seulement une plateforme d'orientation. Elle permet aussi de rester à jour des potentielles bourses disponibles </p>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row">
                {% for post in posts %}
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='uploads/' ~ post.imagePath) }}" alt="{{ post.titre }}" class="img-fluid rounded">
                        </div>
                        <div class="card-body">
                            <ul class="list-inline fs-14 text-muted">
                                <li class="list-inline-item">
                                    <i class="ri-calendar-line align-bottom me-1"></i> {{ post.created_at|format_date('full') }}
                                </li>
                                <!-- <li class="list-inline-item">
                                    <i class="ri-message-2-line align-bottom me-1"></i> 364 Comment
                                </li> -->
                            </ul>
                            <a href="javascript:void(0);">
                                <h5>{{post.titre}}</h5>
                            </a>
                            <p class="text-muted fs-14">
                                {{post.contenu}}
                            </p>
                            
                            <div>
                                <a href="{{post.adresse}}" class="link-success">En savoir plus <i class="ri-arrow-right-line align-bottom ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
        <!-- end container -->
    </section>
    <!-- end blog -->

{% endblock %}
