{% extends 'layouts/base.html' %}
{% block title %}Home{% endblock %}<
    
{% block content %}

<div class="layout-wrapper landing">
    <nav class="navbar navbar-expand-lg navbar-landing fixed-top job-navbar is-sticky" id="navbar">
        <div class="container-fluid custom-container">
            <a class="navbar-brand display-6 fw-bold text-capitalize lh-base fs-36" href="index.html">
                
                Lead<span style="color: #339FCC;">ME</span>
            </a>
            <button class="navbar-toggler py-0 fs-20 text-body" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="mdi mdi-menu"></i>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mt-2 mt-lg-0" id="navbar-example">
                    <li class="nav-item">
                        <a class="nav-link fs-16" href="#hero">Acceuil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-16" href="#process">Procédure</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link fs-16" href="#blog">Blog</a>
                    </li>
                </ul>

                <div class="">
                    <a href="" class="btn" style="background-color: #339FCC; color: white;"><i class="ri-user-3-line align-bottom me-1"></i> Connexion &amp; Insciption</a>
                </div>
            </div>

        </div>
    </nav>
    <!-- end navbar -->

    <!-- start hero section -->
    <section class="section job-hero-section bg-light pb-0" id="hero">
        <div class="container">
            <div class="row  align-items-start">
                <div class="col-lg-6">
                    <div>
                        <h1 class="display-6 fw-bold text-capitalize mb-3 lh-base">Lead Me, Meilleur outil d'orientation des nouveaux bacheliers </h1>
                        <p class="lead text-muted lh-base mb-4">Lead Me est un outils en ligne d'orientation des nouveaux bacheliers. Il se base sur les series et notes obtenus pour determiner les filières pour lesquels un utilisateur a plus de chance d'être accepté lors du classement</p>
                       
                    </div>
                </div>
                <!--end col-->
                <div class="col-lg-5">
                        <img src="{{ url_for('static', filename ='images/landing_page_top.png') }} " alt="" class="" style="width: 600px; height: 600px; margin-top: -150px;">
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end hero section -->

    <section class="section" id="process">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center mb-5">
                        <h1 class="mb-3 ff-secondary fw-bold lh-base">Comment <span class="text-primary">Lead Me</span> fonctionne ?</h1>
                        <p class="text-muted">La procédure pour se faire orienter est très simple. Inscrivez vous à la plateforme, Enregistrer vos informations et obtenez les filières pour lesquelles vous avez le plus de chance d'être pris</p>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!--end row-->
            <div class="row justify-content-around">
                <div class="col-lg-3 col-md-6">
                    <div class="card shadow-lg">
                        <div class="card-body p-4">
                            <h1 class="fw-bold display-5 ff-secondary mb-4 text-success position-relative">
                                <div class="job-icon-effect"></div>
                                <span>1</span>
                            </h1>
                            <h6 class="fs-17 mb-2">Inscrivez-vous</h6>
                            <p class="text-muted mb-0 fs-15">Inscrivez-vous ou passer directement à l'étape suivante.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card shadow-none">
                        <div class="card-body p-4">
                            <h1 class="fw-bold display-5 ff-secondary mb-4 text-success position-relative">
                                <div class="job-icon-effect"></div>
                                <span>2</span>
                            </h1>
                            <h6 class="fs-17 mb-2">Enregistrez vos notes</h6>
                            <p class="text-muted mb-0 fs-15">Ajouter ensuite vos notes obtenus au baccalauréat</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card shadow-none">
                        <div class="card-body p-4">
                            <h1 class="fw-bold display-5 ff-secondary mb-4 text-success position-relative">
                                <div class="job-icon-effect"></div>
                                <span>3</span>
                            </h1>

                            <h6 class="fs-17 mb-2">Optimisez vos admissions</h6>
                            <p class="text-muted mb-0 fs-15">Obtenez le resultats des calculs</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!--end container-->
    </section>

   

    

    <!-- start cta -->
    <section class="py-5 bg-primary position-relative">
        <div class="bg-overlay bg-overlay-pattern opacity-50"></div>
        <div class="container">
            <div class="row align-items-center gy-4">
                <div class="col-sm">
                    <div>
                        <h4 class="text-white fw-bold mb-2">Prêt à commencer ?</h4>
                        <p class="text-white-50 mb-0">Créer un compte et enrégister vos informations.</p>
                        <p class="text-white-50 mb-0">Ou enrégistrer vos notes.</p>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-sm-auto">
                    <div>
                        <a href="" class="btn bg-gradient btn-danger">Enregistrer vos notes</a>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end cta -->

    
   

    <!-- start blog -->
    <section class="section" id="blog">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="text-center mb-5">
                        <h1 class="mb-3 ff-secondary fw-bold text-capitalize lh-base">Informations Relatives aux <span class="text-primary">Bourses</span></h1>
                        <p class="text-muted mb-4">Lead Me n'est pas seulement une plateforme d'orientation. Elle permet aussi de rester à jour des potentielles bourses disponibles </p>
                    </div>
                </div>
            </div>
            <!-- end row -->

            <div class="row">
                {% for post in posts %}
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="{{ url_for('static', filename='uploads/' ~ post.imagePath) }}" alt="{{ post.titre }}" class="img-fluid rounded">
                        </div>
                        <div class="card-body">
                            <ul class="list-inline fs-14 text-muted">
                                <li class="list-inline-item">
                                    <i class="ri-calendar-line align-bottom me-1"></i>
                                    
                                </li>
                                <!-- <li class="list-inline-item">
                                    <i class="ri-message-2-line align-bottom me-1"></i> 364 Comment
                                </li> -->
                            </ul>
                            <a href="javascript:void(0);">
                                <h5>{{post.titre}}</h5>
                            </a>
                            <p class="text-muted fs-14">
                                {{post.contenu}}
                            </p>
                            
                            <div>
                                <a href="{{post.adresse}}" class="link-success">Learn More <i class="ri-arrow-right-line align-bottom ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="w-100 text-end">
                    <a href="" class="link-primary ">
                       
                        Consulter toutes les bourses
                        <i class="ri-arrow-right-line align-bottom ms-1"></i>
                    </a>
                    
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>
    <!-- end blog -->

    

    <!-- Start footer -->
    <footer class="custom-footer bg-dark py-4 position-relative">
        <div class="container">    

            <div class="row text-center text-sm-start align-items-center">
                <div class="col-sm-6">
                    <div>
                        <p class="copy-rights mb-0">
                            <script> document.write(new Date().getFullYear()) </script> © Velzon - Themesbrand
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end mt-sm-0">
                    Ortniel ADOUMASSE et Arix AZOKLY 
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->


    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-info btn-icon landing-back-top" id="back-to-top" style="display: block;">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

</div>

 <!--Swiper slider js-->
 <script src="{{ url_for('static', filename = 'libs/swiper/swiper-bundle.min.js') }}"></script>

 <!--job landing init -->
 <script src="{{ url_for('static', filename = 'js/pages/job-lading.init.js') }}"></script>

{% endblock %}

