{% extends 'layouts/front_nav.html' %}
{% block title %} User Marks {% endblock %}

{% block content %}
<div class="container mt-5">
    <h3>Enter Marks for Your Matières</h3>
    <form method="POST" action="{{ url_for('computation.user_marks') }}">
        {{ form.hidden_tag() }}
        {% for mark in form.marks%}
            {{ mark.hidden_tag() }}
            <div class="form-group">
                <input type="hidden" name="{{ mark.matiere_id.name }}" value="{{ mark.matiere_id.data }}">
                <label>{{ mark.matiere_nom.data }}</label>
                <input type="number" name="{{ mark.mark.name }}" value="{{ mark.mark.data }}">
            </div>
        {% endfor %}
        {{ form.submit(class="btn btn-success") }}
    </form>

</div>
{% endblock %}
