{% extends 'layouts/front_nav.html' %}
{% block title %} User Marks {% endblock %}

{% block content %}
<div class="container mt-5">
    <h3>Enter Marks for Your Matières</h3>
    <form method="POST" action="{{ url_for('computation.user_marks') }}">
        {{ form.hidden_tag() }}
        {% for mark_form in form.marks %}
            <div class="form-group">
                {{ mark_form.hidden_tag() }}
                <label for="">{{ mark_form.matiere_nom.data }}</label>
                {{ mark_form.mark(class="form-control") }}
            </div>
        {% endfor %}
        {{ form.submit(class="btn btn-success") }}
    </form>

</div>
{% endblock %}
